-- employee_services tablosunu kontrol et
SELECT 
  table_name,
  column_name,
  data_type,
  is_nullable,
  column_default
FROM information_schema.columns 
WHERE table_name = 'employee_services'
ORDER BY ordinal_position;

-- Tablo yapısını kontrol et (PostgreSQL komut satırı komutu)

-- Mevcut kayıtları kontrol et
SELECT COUNT(*) as total_records FROM employee_services;

-- RLS politikalarını kontrol et
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual 
FROM pg_policies 
WHERE tablename = 'employee_services';
